body {
  margin: 0;
}

.app {
  margin: 0 8px;
}

.intent {
  padding: 8px 8px;
  border-bottom: solid;
  border-width: 1px;
}

.intent:nth-child(odd) {
  background-color: #FAFAFA;
}

.intent-title {
  color: #457B9D;
}

.buttons-container {
  width: 100%;
  background-color: 324766;
  display: flex;
  padding: 6px;
}

.buttons-container > * + * {
  margin-left: 6px;
}

.button {
  cursor: pointer;
  background: #457B9D;
  border-radius: 6px;
  border: 2px solid;
  border-color: white;
  font-size: 16px;
  font-family: arial;
  color: white;
}

.button--inverted {
  background: #ffffff;
  border-radius: 6px;
  border-color: #457B9D;
  color: #457B9D;
  
}

.button--small {
  width: 30px;
  height: 30px;
  font-size: 22px;
}

.button--large {
  padding: 8px;
}

.input-text {
  min-width: 300px;
}

.slot-elicitation-container {
  margin-bottom: 8px;
}

.translation-container {
  margin-bottom: 8px;
}

 
.input-container {
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  margin-bottom: 4px;
  padding: 4px;
}

.input-container > input {
  flex-grow: 1;

  padding: 6px 6px;
  border-radius: 4px;
  border: none;
}

.translation-container {
  margin-bottom: 10px;
}

h3 {
  font-weight: normal;
  margin-bottom: 4px;
}
